In [1]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://traveltriangle.com/tour-packages/india?destination_type=india'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"}

response = requests.get(url,headers = headers)
html_code = response.text 
soup = BeautifulSoup(html_code)
soup.text[:2000]

'3 India Tour Packages - Book India Holiday Packages at Best Prices @ TT1800-123-5555Travel Agent? Join UsBlogOffersDownload AppGet Travel Triangle in your pocket.Get your app via smsGet AppLoginHoneymoon PackagesFamily PackagesHoliday PackagesHoliday DealsLuxury HolidaysHotelsDestination GuidesHoliday ThemesPlan My HolidayIndian DestinationsKashmirHimachalGoaRajasthanKeralaAndamanSikkimUttarakhandView AllInternational DestinationsBaliSri LankaMaldivesVietnamMauritiusEuropeDubaiThailandSingaporeTurkeyBhutanSeychellesView AllIndian DestinationsKeralaHimachalRajasthanGoaKashmirAndamanSikkimGujaratView AllInternational DestinationsDubaiSingaporeEuropeBhutanMauritiusVietnamSri LankaBaliThailandTurkeyMaldivesAustraliaView AllIndian DestinationsKeralaAndamanHimachalSikkimKashmirRajasthanGoaUttarakhandView AllInternational DestinationsBaliMaldivesSri LankaEuropeMalaysiaTurkeyThailandMauritiusDubaiSingaporeSwitzerlandSeychellesView AllIndian DestinationsKeralaHimachalAndamanKashmirInternational DestinationsDubaiSeychellesSingaporeBhutanThailandBaliMauritiusSri LankaMaldivesIndian DestinationsKashmirHimachalUttarakhandKeralaSikkim - Gangtok - DarjeelingAndamanGoaRajasthanLadakhView AllInternational DestinationsCambodiaThailandBaliSingaporeMalaysiaMauritiusMaldivesAustraliaSeychellesItalyDubaiSouth AfricaEuropeSeasonal PackagesAdventureFamilyNatureHoneymoonWildlifeFriendsWater ActivitiesReligiousIndia Tour PackagesExploreTravel TriangleTour PackagesIndiaIndia Holiday: rated 4.8/5 (based on 122553 reviews) | Packages starting from â\x82¹999/-Indian HolidayIndia tour packages offer a gateway to one of the most beautiful countries in the world, allowing travellers to explore its diverse landscapes and rich cultural tapestry. To fully comprehend and experience Indiaâ\x80\x99s geographical and cultural diversity, a wide range of the best tour packages in India are available for travellers to choose from. Varying from destination to destination, these tourist packages provide the opportunity'

In [3]:
#product title
packages = soup.find_all('span',attrs={'class':'fw9 m0 f16 pfc3'})
for p in packages:
    print(p.text)

Most Reasonable Goa Honeymoon Tour Packages
Fantastic Andaman Honeymoon Package
Romantic Mussoorie Tour Package From Delhi
Coorg Package For 2 Nights And 3 Days
Best 4N 5D Andaman Sightseeing Tour Package For A Refreshing Getaway
Mesmerising Manali Trip Package From Chandigarh
Hills & Houseboat: Munnar and Alleppey Honeymoon Package
Top Family Holiday Packages in Goa for an Ideal Family Vacation
Most Affordable 1 Night 2 Days Uttarakhand Tour Packages From Delhi
Top 4 Nights 5 Days Best-Selling Sikkim Gangtok Darjeeling Tour Package
Best 5 Night 6 Day Leh Ladakh Tour Package For A Fun Filled Vacay
Postcard-Perfect Sikkim Gangtok Lachung Honeymoon Packages
Best Selling Kerala Houseboat & Jungle Safari Tour Package
Go on an excursion to Shillong to witness the best of natural attraction
Top 5 Nights 6 Days Kerala Family Tour Packages For A Refreshing Getaway
Exciting Goa Tour Packages For A Perfect Getaway
Discover Our Beautiful 4 Nights 5 Days Andaman Family Tour Packages
4 Nights 5 Days Sikkim Family Tour Package
Best Selling Shimla Honeymoon Tour Packages For A Wonderful Vacation
Jammu Kashmir Family Package

In [4]:
durations = soup.find_all('span',attrs={'class':'iblock sfc6'})
for d in durations:
    print(d.text)

5 Days & 4 Nights
5 Days & 4 Nights
3 Days & 2 Nights
3 Days & 2 Nights
5 Days & 4 Nights
3 Days & 2 Nights
6 Days & 5 Nights
5 Days & 4 Nights
2 Days & 1 Nights
5 Days & 4 Nights
6 Days & 5 Nights
5 Days & 4 Nights
5 Days & 4 Nights
6 Days & 5 Nights
6 Days & 5 Nights
3 Days & 2 Nights
5 Days & 4 Nights
5 Days & 4 Nights
3 Days & 2 Nights
7 Days & 6 Nights

In [5]:
original_prices = soup.find_all('span',attrs={'class':'f12 pfc3 tdl ml8 at_oldprice fw4'})
for o in original_prices:
    print(o.text)

â¹ 9,142/-
â¹ 18,811/-
â¹ 12,000/-
â¹ 15,934/-
â¹ 36,484/-
â¹ 10,440/-
â¹ 24,444/-
â¹ 10,868/-
â¹ 3,360/-
â¹ 26,258/-
â¹ 28,110/-
â¹ 24,000/-
â¹ 24,604/-
â¹ 28,160/-
â¹ 29,674/-
â¹ 15,615/-
â¹ 23,574/-
â¹ 26,400/-
â¹ 10,543/-
â¹ 26,910/-

In [6]:
discount_percentages = soup.find_all('span',attrs={'class':'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
for d in discount_percentages:
    print(d.text)

13% Off
17% Off
13% Off
9% Off
9% Off
9% Off
10% Off
8% Off
17% Off
16% Off
22% Off
8% Off
19% Off
13% Off
18% Off
7% Off
19% Off
17% Off
15% Off
7% Off

In [7]:
discount_percentages = soup.find_all('span',attrs={'class':'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
for d in discount_percentages:
    print(d.text)

13% Off
17% Off
13% Off
9% Off
9% Off
9% Off
10% Off
8% Off
17% Off
16% Off
22% Off
8% Off
19% Off
13% Off
18% Off
7% Off
19% Off
17% Off
15% Off
7% Off

In [8]:
total_packages_across_india = soup.find('span',attrs={'class':'at_packagecountfilter pfc1'})
total_packages_across_india.text

' 4877'

In [9]:
cities = soup.find_all('div',attrs={'class':'clearfix absolute t60'})
for c in cities:
    print(c.text)

Cities: Goa (5D)
Cities: Port Blair (3D)Havelock (2D)
Cities: Mussoorie (3D)
Cities: Coorg (3D)
Cities: Port Blair (4D)Havelock (1D)
Cities: Manali (3D)
Cities: Munnar (2D)Thekkady (1D)Alleppey (1D)Kochi (2D)
Cities: Calangute (5D)
Cities: Rishikesh (2D)
Cities: Gangtok (2D)Darjeeling (3D)
Cities: Leh (5D)Nubra Valley (1D)
Cities: Gangtok (4D)Lachung (1D)
Cities: Munnar (2D)Thekkady (1D)Alleppey (2D)
Cities: Kaziranga (2D)Shillong (2D)Guwahati (2D)
Cities: Munnar (2D)Thekkady (1D)Alleppey (1D)Kochi (2D)
Cities: Goa (3D)
Cities: Port Blair (4D)Havelock (1D)
Cities: Gangtok (4D)Lachung (1D)
Cities: Shimla (3D)
Cities: Katra (1D)Pahalgam (1D)Srinagar (4D)Gulmarg (1D)

In [10]:
hotel_ratings = soup.find_all('li',attrs={'class':'icon-box relative'})
for h in hotel_ratings:
    print(h.text)

Upto 2 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 4 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 4 Stars
Meals
Sightseeing
Upto 3 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 2 Stars
Meals
Sightseeing
Upto 2 Stars
Meals

In [11]:
activities = soup.find_all('ul',attrs={'class':'package-tags at_package_tags'})
for a in activities:
    print(a.text)

len(activities)

Hot PickWater ActivitiesRomantic CruiseAdventureCandlelight dinnerCruisesNatureBeach hoppingRomanticBudget
Corbyn's Beach CoveAdventureRadhanagar BeachNatureSnorkelingWater ActivitiesIsland ToursBest sellersSightseeingHistoricalRomanticBudget
SightseeingNatureHill stationHimalayasRomanticHillsBudget
Coorg sightseeingAdventureRajaâs SeatNatureAbbey FallsHill stationDubare Reserve ForestWaterfallReligiousBudget
Cellular JailLight & Sound ShowAdventureNatureRoss IslandHill stationWater ActivitiesSightseeingBudget
Hadimba TempleAdventureSolang ValleyNatureRohtang PassHill stationReligiousWater ActivitiesBudget
 Periyar Wildlife SanctuaryCruisesEravikulam National ParkHill stationJungle SafariNatureBackwatersWaterfallWildlifeRomanticBudget
FamilyDolphin spottingCruisesKid's SpecialBest sellersSunset CruiseAdventureFortsWater ActivitiesRomanticBudget
River RaftingHill stationAdventureNatureTrekkingWatersportsSightseeingCampingBudget
Best-SellingHimalayaHill stationRoad TripSightseeingHistoricalNatureBest sellersBudget
NatureRoad TripAdventureCampinglandscapeIdeal for friendsBudget
AdventureNortheastHill stationHillsNatureWaterfallsshoppingRomanticBudget
Best SellingPrivate CabWildlife safariBackwatersHills
Kaziranga National ParkAdventureElephant SafariWildlifeUmiam LakeNatureSeven Sisters FallsFamilyIdeal for familiesShoppingBudget
Pocket-friendlyHouseboatCruisesScenic RoutesHill stationPrivate TransfersWildlifeBackwatersNatureAdventureSightseeing
Beach vacation AdventureNightlifeNatureShoppingBeachWater ActivitiesSightseeingBudget
WatersportsBeach VacationLight & Sound ShowSwimmingSightseeingFerry rideNatureWater ActivitiesBest sellersBudget
HistoricalHimalayasAdventurePrivate TransfersHill stationNatureReligiousSightseeingBudget
AdventureHill StationNatureScenic LandscapesSightseeingRomanticBudget
Vaishno DeviNaturePatnitopReligiousShikara RideHill stationGondola RideLakesThajiwas GlacierFamilyBudget

20

In [12]:
import numpy as np
package_data= []
duration_data = []
original_price_data = []
discount_percentage_data = []
city_data = []
hotel_rating_data = []
activity_data = []

for i in range(1,81):
    # Step 1: Identify the list
    url = f'https://traveltriangle.com/tour-packages/india/page/{i}?destination_type=india'
   # Step 2: Extract the HTML code
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36"
    }
    response = requests.get(url, headers = headers)

    if response.status_code == 403:
        print("There's a 403 Error!")
        break
    html_code = response.text

    # Step 3 : Parse the HTML code to BeautifulSoup object
    soup = BeautifulSoup(html_code)
    containers = soup.find_all('div', attrs = {'class': 'col-12 p8 pt0'})
    for c in containers:
        # for each container scrape all data
        # Product title
        packages= c.find('span', attrs = {'class': 'fw9 m0 f16 pfc3'})
        if packages is None:
            package_data.append(np.nan)
        else:
            package_data.append(packages.text)
    # Product price
        durations = c.find('span', attrs = {'class': 'iblock sfc6'})
        if durations is None:
           duration_data.append(np.nan)
        else:
           duration_data.append(durations.text)

    # Customer rating and reviews
        original_prices = c.find('span', attrs = {'class': 'f12 pfc3 tdl ml8 at_oldprice fw4'})
        if original_prices is None:
            original_price_data.append(np.nan)
        else:
            original_price_data.append(original_prices.text)

    # Ratings
        discount_percentages = c.find('span', attrs = {'class': 'f12 fw4 pt2 pb2 pl8 pr8 radius20 pbc1 sfcw at_discount_label'})
        if discount_percentages is None:
           discount_percentage_data.append(np.nan)
        else:
            discount_percentage_data.append(discount_percentages.text)




        cities = c.find('div', attrs = {'class': 'clearfix absolute t60'})
        if cities is None:
           city_data.append(np.nan)
        else:
           city_data.append(cities.text)



        hotel_ratings = c.find("label", attrs = {"class" : "pr0 pt0 pl20"})
        if hotel_ratings is None:
           hotel_rating_data.append(np.nan)
        else:
           hotel_rating_data.append(hotel_ratings.text)


        activities = c.find('ul', attrs = {'class': 'package-tags at_package_tags'})
        if activities is None:
           activity_data.append(np.nan)
        else:
           activity_data.append(activities.text)

In [13]:
df = pd.DataFrame({'Package':package_data,
                   'Package Duration':duration_data,
                   'Package Original Price':original_price_data,
                   'Package Discount %':discount_percentage_data,
                   'City':city_data,
                   'Hotel Rating':hotel_rating_data,
                   'Activity':activity_data})

df.head()

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity
0,Most Reasonable Goa Honeymoon Tour Packages,5 Days & 4 Nights,"â¹ 9,142/-",13% Off,Cities: Goa (5D),3 Star,Hot PickWater ActivitiesRomantic CruiseAdventu...
1,Fantastic Andaman Honeymoon Package,5 Days & 4 Nights,"â¹ 18,811/-",17% Off,Cities: Port Blair (3D)Havelock (2D),3 Star,Corbyn's Beach CoveAdventureRadhanagar BeachNa...
2,Romantic Mussoorie Tour Package From Delhi,3 Days & 2 Nights,"â¹ 12,000/-",13% Off,Cities: Mussoorie (3D),3 Star,SightseeingNatureHill stationHimalayasRomantic...
3,Coorg Package For 2 Nights And 3 Days,3 Days & 2 Nights,"â¹ 15,934/-",9% Off,Cities: Coorg (3D),3 Star,Coorg sightseeingAdventureRajaâs SeatNatureA...
4,Best 4N 5D Andaman Sightseeing Tour Package Fo...,5 Days & 4 Nights,"â¹ 36,484/-",9% Off,Cities: Port Blair (4D)Havelock (1D),3 Star,Cellular JailLight & Sound ShowAdventureNature...

In [14]:
df

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity
0,Most Reasonable Goa Honeymoon Tour Packages,5 Days & 4 Nights,"â¹ 9,142/-",13% Off,Cities: Goa (5D),3 Star,Hot PickWater ActivitiesRomantic CruiseAdventu...
1,Fantastic Andaman Honeymoon Package,5 Days & 4 Nights,"â¹ 18,811/-",17% Off,Cities: Port Blair (3D)Havelock (2D),3 Star,Corbyn's Beach CoveAdventureRadhanagar BeachNa...
2,Romantic Mussoorie Tour Package From Delhi,3 Days & 2 Nights,"â¹ 12,000/-",13% Off,Cities: Mussoorie (3D),3 Star,SightseeingNatureHill stationHimalayasRomantic...
3,Coorg Package For 2 Nights And 3 Days,3 Days & 2 Nights,"â¹ 15,934/-",9% Off,Cities: Coorg (3D),3 Star,Coorg sightseeingAdventureRajaâs SeatNatureA...
4,Best 4N 5D Andaman Sightseeing Tour Package Fo...,5 Days & 4 Nights,"â¹ 36,484/-",9% Off,Cities: Port Blair (4D)Havelock (1D),3 Star,Cellular JailLight & Sound ShowAdventureNature...
...,...,...,...,...,...,...,...
1595,Best Selling Spiti Valley Tour Package From Ba...,9 Days & 8 Nights,"â¹ 51,347/-",8% Off,Cities: Shimla (2D)Sangla (1D)Kalpa (1D)Nako (...,3 Star,TempleAdventureValleysNatureLaketemplesVALLEYB...
1596,Badrinath Kedarnath Gangotri Yamunotri Tour Pa...,11 Days & 10 Nights,"â¹ 36,693/-",7% Off,Cities: Haridwar (3D)Barkot (2D)Uttarkashi (2D...,2 Star,Religious TourAdventureKempty FallsNatureHar k...
1597,Spiti Valley Tour Package From Gurgaon,8 Days & 7 Nights,"â¹ 47,997/-",7% Off,Cities: Sarahan (1D)Sangla (1D)Kalpa (1D)Tabo ...,3 Star,Spiti ValleyHimalayasMonastery TourNatureAdven...
1598,Mount Abu Tour Package From Surat,4 Days & 3 Nights,"â¹ 17,021/-",6% Off,Cities: Udaipur (2D)Mount Abu (2D),3 Star,Nakki LakeNatureDilwara Jain TempleAdventureCi...
1599,Shimla Tour Package From Rajkot,4 Days & 3 Nights,"â¹ 23,478/-",8% Off,Cities: Shimla (4D),3 Star,Sankat Mochan TempleMall RoadKufriAdventureNat...

In [15]:
df['Package Original Price'] = (
    df['Package Original Price']
    .astype(str)                           # ensure string
    .str.replace('â¹', '', regex=False)
    .str.replace('₹', '', regex=False)
    .str.replace('/-', '', regex=False)
    .str.replace(',', '', regex=False)
    .str.strip()
)

df['Package Original Price'] = pd.to_numeric(
    df['Package Original Price'],
    errors='coerce'   # invalid values → NaN
)

In [16]:
df

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity
0,Most Reasonable Goa Honeymoon Tour Packages,5 Days & 4 Nights,9142.0,13% Off,Cities: Goa (5D),3 Star,Hot PickWater ActivitiesRomantic CruiseAdventu...
1,Fantastic Andaman Honeymoon Package,5 Days & 4 Nights,18811.0,17% Off,Cities: Port Blair (3D)Havelock (2D),3 Star,Corbyn's Beach CoveAdventureRadhanagar BeachNa...
2,Romantic Mussoorie Tour Package From Delhi,3 Days & 2 Nights,12000.0,13% Off,Cities: Mussoorie (3D),3 Star,SightseeingNatureHill stationHimalayasRomantic...
3,Coorg Package For 2 Nights And 3 Days,3 Days & 2 Nights,15934.0,9% Off,Cities: Coorg (3D),3 Star,Coorg sightseeingAdventureRajaâs SeatNatureA...
4,Best 4N 5D Andaman Sightseeing Tour Package Fo...,5 Days & 4 Nights,36484.0,9% Off,Cities: Port Blair (4D)Havelock (1D),3 Star,Cellular JailLight & Sound ShowAdventureNature...
...,...,...,...,...,...,...,...
1595,Best Selling Spiti Valley Tour Package From Ba...,9 Days & 8 Nights,51347.0,8% Off,Cities: Shimla (2D)Sangla (1D)Kalpa (1D)Nako (...,3 Star,TempleAdventureValleysNatureLaketemplesVALLEYB...
1596,Badrinath Kedarnath Gangotri Yamunotri Tour Pa...,11 Days & 10 Nights,36693.0,7% Off,Cities: Haridwar (3D)Barkot (2D)Uttarkashi (2D...,2 Star,Religious TourAdventureKempty FallsNatureHar k...
1597,Spiti Valley Tour Package From Gurgaon,8 Days & 7 Nights,47997.0,7% Off,Cities: Sarahan (1D)Sangla (1D)Kalpa (1D)Tabo ...,3 Star,Spiti ValleyHimalayasMonastery TourNatureAdven...
1598,Mount Abu Tour Package From Surat,4 Days & 3 Nights,17021.0,6% Off,Cities: Udaipur (2D)Mount Abu (2D),3 Star,Nakki LakeNatureDilwara Jain TempleAdventureCi...
1599,Shimla Tour Package From Rajkot,4 Days & 3 Nights,23478.0,8% Off,Cities: Shimla (4D),3 Star,Sankat Mochan TempleMall RoadKufriAdventureNat...

In [17]:
df['Package Original Price ₹'] = df['Package Original Price'].apply(
    lambda x: f"₹ {int(x):,}" if pd.notna(x) else None
)
df
df[df['Package Original Price'].isna()]

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity,Package Original Price ₹
910,"Kerala Honeymoon Package: Munnar, Thekkady, Al...",6 Days & 5 Nights,NaN,NaN,Cities: Munnar (2D)Thekkady (1D)Alleppey (1D)K...,3 Star,RomanticAdventureHillsHill stationWildlife saf...,None
1212,Delightful Kerala Family Tour Package,8 Days & 7 Nights,NaN,NaN,Cities: Munnar (2D)Thekkady (1D)Alleppey (1D)K...,3 Star,Beach VacationWildlife safariHouseboat StayNat...,None

In [18]:
df

,Package,Package Duration,Package Original Price,Package Discount %,City,Hotel Rating,Activity,Package Original Price ₹
0,Most Reasonable Goa Honeymoon Tour Packages,5 Days & 4 Nights,9142.0,13% Off,Cities: Goa (5D),3 Star,Hot PickWater ActivitiesRomantic CruiseAdventu...,"₹ 9,142"
1,Fantastic Andaman Honeymoon Package,5 Days & 4 Nights,18811.0,17% Off,Cities: Port Blair (3D)Havelock (2D),3 Star,Corbyn's Beach CoveAdventureRadhanagar BeachNa...,"₹ 18,811"
2,Romantic Mussoorie Tour Package From Delhi,3 Days & 2 Nights,12000.0,13% Off,Cities: Mussoorie (3D),3 Star,SightseeingNatureHill stationHimalayasRomantic...,"₹ 12,000"
3,Coorg Package For 2 Nights And 3 Days,3 Days & 2 Nights,15934.0,9% Off,Cities: Coorg (3D),3 Star,Coorg sightseeingAdventureRajaâs SeatNatureA...,"₹ 15,934"
4,Best 4N 5D Andaman Sightseeing Tour Package Fo...,5 Days & 4 Nights,36484.0,9% Off,Cities: Port Blair (4D)Havelock (1D),3 Star,Cellular JailLight & Sound ShowAdventureNature...,"₹ 36,484"
...,...,...,...,...,...,...,...,...
1595,Best Selling Spiti Valley Tour Package From Ba...,9 Days & 8 Nights,51347.0,8% Off,Cities: Shimla (2D)Sangla (1D)Kalpa (1D)Nako (...,3 Star,TempleAdventureValleysNatureLaketemplesVALLEYB...,"₹ 51,347"
1596,Badrinath Kedarnath Gangotri Yamunotri Tour Pa...,11 Days & 10 Nights,36693.0,7% Off,Cities: Haridwar (3D)Barkot (2D)Uttarkashi (2D...,2 Star,Religious TourAdventureKempty FallsNatureHar k...,"₹ 36,693"
1597,Spiti Valley Tour Package From Gurgaon,8 Days & 7 Nights,47997.0,7% Off,Cities: Sarahan (1D)Sangla (1D)Kalpa (1D)Tabo ...,3 Star,Spiti ValleyHimalayasMonastery TourNatureAdven...,"₹ 47,997"
1598,Mount Abu Tour Package From Surat,4 Days & 3 Nights,17021.0,6% Off,Cities: Udaipur (2D)Mount Abu (2D),3 Star,Nakki LakeNatureDilwara Jain TempleAdventureCi...,"₹ 17,021"
1599,Shimla Tour Package From Rajkot,4 Days & 3 Nights,23478.0,8% Off,Cities: Shimla (4D),3 Star,Sankat Mochan TempleMall RoadKufriAdventureNat...,"₹ 23,478"

In [19]:
#df.iloc[list(range(1,81,2))]

for s in soup.find_all("div", attrs = {"class": "flex alignCenter"}):
    
    #print(s.find_all("label", attrs = {"class" : "pr0 pt0 pl20"}))
    for s1 in s.find_all("label", attrs = {"class" : "pr0 pt0 pl20"}):
        print(s1.text)

3 Star
3 Star
3 Star
4 Star
4 Star
2 Star
2 Star
3 Star
4 Star
3 Star
2 Star
2 Star
3 Star
3 Star
2 Star
3 Star
2 Star
3 Star
3 Star
3 Star